/* load fonts */
@import url ('https://fonts.google.com/specimen/Luckiest+Guy?query=luckiest+')

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* typography */
h1, h2, h3 {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
