/* Global styles */
/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: #334443;
  margin: 0;
  min-height: 100vh;
  color: #FAF8F1;
}

/* typography */
h1, h2, h3 {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FAEAB1;
}

/*color-vars*/
:root {
  --off-white: #FAF8F1;
  --gold: #FAEAB1;
  --light-green: #34656D;
  --dark-green: #334443;;
}

.hover {
  transition: color 0.3s;
  color: #FAF8F1;
}

/* Components Styling */

nav {
   width: 100%;
    background: #34656D;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Hamburger Icon */
.nav-toggle::before {
    content: "☰";
    font-size: 18px;
    line-height: 1;
}


/* Flex container utility */
.flex-container {
  display: flex;
  height: 650px;
  padding: 37px 15px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  flex: 1 0 0;
  box-sizing: border-box;
}

/* Page Styling */
/* Media Queries */
@media (max-width: 768px) {